# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

#Custom build
Build/

# System/tool-specific ignores
.directory
.idea
.bloop
.bsp
.gradle
app/**
target/**
build/**
core/build/**
core/bin/**
desktop/build/**
desktop/bin/**
core/assets/**/ColorPaintWheel*.png
project/project
project/target
.metals/
*~
.metals/**
.metals/**/*metals*.db
.metals/metals.lock.db
*.log
